{% extends 'movies/base.html' %}
{% load static %}
{% block title %} {{ actor.name }} {% endblock title %}
{% block container %}
    <div class="container py-md-3">
{% endblock container %}

{% block sidebar %}
    <div class="side-bar col-lg-4">
{% endblock sidebar %}

{% block movie %}
    <div class="left-ads-display col-lg-8">
        <div class="row">
            <div class="desc1-left col-md-6">
                <img src="{{ actor.image.url }}" class="img-fluid" alt="" style="max-width: 100%;">
            </div>
            <div class="desc1-right col-md-6 pl-lg-4">
                <h3 class="editContent">
                    {{ movie.title }}
                </h3>
                <h5 class="editContent"></h5>
                <ul>
                    <li>
                        <span><b>Возраст:</b> {{ actor.age }} лет</span></li>
                    <li>
                        <span><b>Режиссер:</b>
                            {% for movie in actor.film_director.all %}
                                {{ movie.title }}
                            {% endfor %}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row sub-para-w3layouts mt-5">
            <h3 class="shop-sing editContent">
                О {{ actor.name }}
            </h3>
            <p class="editContent">
                {{ actor.description|safe }}
            </p>
        </div>
        <h3 class="shop-sing editContent">
            ФИЛЬМЫ
        </h3>
        <div class="left-ads-display col-lg-9">
    <div class="row">
        {% for movie in actor.film_director.all %}
        <div class="col-md-4 product-men">
            <div class="product-shoe-info editContent text-center mt-lg-4">
                <div class="men-thumb-item">
                    <img src="{{ movie.poster.url }}" class="img-fluid" alt="">
                </div>
                <div class="item-info-product">
                    <h4 class="">
                        <a href="{% url 'movies:movies-detail' movie.url %}"
                           class="editContent">
                            {{ movie.title }}
                        </a>
                    </h4>

                </div>
            </div>
        </div>
        {% endfor %}
        {% for movie in actor.film_actor.all %}
        <div class="col-md-4 product-men">
            <div class="product-shoe-info editContent text-center mt-lg-4">
                <div class="men-thumb-item">
                    <img src="{{ movie.poster.url }}" class="img-fluid" alt="">
                </div>
                <div class="item-info-product">
                    <h4 class="">
                        <a href="{% url 'movies:movies-detail' movie.url %}"
                           class="editContent">
                            {{ movie.title }}
                        </a>
                    </h4>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock movie %}