{% extends 'movies/base.html' %}
{% block title %} {% endblock title %}
{% block header %} bg1 {% endblock header %}
{% block movie %}
<div class="left-ads-display col-lg-9">
    <div class="row">
        {% for actor in actor_list %}
        <div class="col-md-4 product-men">
            <div class="product-shoe-info editContent text-center mt-lg-4">
                <div class="men-thumb-item">
                    <img src="{{ actor.image.url }}" class="img-fluid" alt="">
                </div>
                <div class="item-info-product">
                    <h4 class="">
                        <a href="{% url 'movies:actor_detail' actor.name %}"
                           class="editContent">
                            {{ actor.name }}
                        </a>
                    </h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="grid-img-right mt-4 text-right bg bg1">
        {% include 'include/pagination.html' %}
    </div>
</div>
{% endblock movie %}